extends layout

block content
    h1 #{title}
    form(method="POST", action="/posts/add")
        #form-group
            label Text:
            input.form-control(name='text', type="text")
        #form-group
            label createAt:
            input.form-control(name='createdAt', type="text")
        br
        input.btn.btn-primary(type='submit', value="submit")