extends layout
block content
    h1= post.text
    br
    p Created at: #{post.createdAt}
    hr
    a.btn.btn-warning(href='/post/edit/'+post._id) Edit
    a.btn.btn-danger.delete-post(href='#',data-id=post._id) Del